@import "tailwindcss";
@plugin "daisyui";

body{
    background: rgb(245, 239, 239);
}

/* .progress{
    
    background-image: url('./assets/vector1.png');
    background-size: cover;
    background-repeat: repeat;
} */